.colorbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.colorcase{
  height:50vh;
}
.colorbox .color{
  position: relative;
  min-height: 320px;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 2;
  box-sizing: border-box;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
}
.colorbox .color::after {
  content: '\201D';
  position: absolute;
  bottom: -10%;
  right: 5%;
  font-size: 120px;
  opacity: 0.2;
  background: transparent;
  filter: invert(1);
  pointer-events: none;
}
.color{
  font-family: 'Grandstander', cursive;
  text-decoration:none;
  padding:4rem 4rem;
  margin: 4rem;
  font-size:2rem;
  color:white;
  border-radius:1rem;
  transition:all 0.3s;
  position:relative;
}
.color-red{
  background-color: rgba(255, 0, 0, 0.685);
}
.color-blue{
  background-color:rgba(0, 0, 255, 0.603);
}
.color-purple{
  background-color: rgba(128, 0, 128, 0.637);
}
.color-red:hover{
  opacity: 1;
  background: red;
  background: -moz-linear-gradient(-45deg, red 15%, #2b94e5 100%);
  background: -webkit-linear-gradient(-45deg, red 15%,#2b94e5 100%);
  background: linear-gradient(135deg, red15%,#2b94e5 100%);
}
.color-blue:hover{
  opacity: 1;
  background: -moz-linear-gradient(-45deg, rgba(0, 0, 255, 0.603) 15%, #2be5bd 100%);
  background: -webkit-linear-gradient(-45deg, rgba(0, 0, 255, 0.603) 15%,#2be5bd 100%);
  background: linear-gradient(135deg, rgba(0, 0, 255, 0.603) 15%,#2be5bd 100%);
}
.color-purple:hover{
  opacity: 1;
  background: -moz-linear-gradient(-45deg, rgba(128, 0, 128, 0.637) 15%, #2be5bd 100%);
  background: -webkit-linear-gradient(-45deg, rgba(128, 0, 128, 0.637) 15%,#2be5bd 100%);
  background: linear-gradient(135deg, rgba(128, 0, 128, 0.637) 15%,#2be5bd 100%);
}
.color-red:hover body{
  background-color:inherit;
}
.color-blue:hover body{
  background-color:inherit;
}
.color-purple:hover body{
  background-color:inherit;
}