@import url("_banner.css");
@import url("_btn.css");
@import url("_circle.css");
@import url("_cs.css");
@import url("_header5.css");
html,
*{
  margin:0;
}
body {
  font-size:62.5%;
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.container{
  width:80vw;
  margin:2rem auto;
  display: flex;
  flex-direction: column;
  padding:1rem;
  justify-content:space-around;
  font-size:1.5rem;
  align-items:center;
  text-align:center;
}